<section id="services" class="services py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="card border-0">
          <div class="card-body">
            <div class="icon-container">
              <img src="https://img.icons8.com/ios-filled/100/6c757d/process.png" alt="Process Icon" class="feature-icon">
            </div>
            <h3 class="card-title fw-bold mt-3">Sincronización con la rama</h3>
            <p class="card-text">Gestiona procesos legales en tiempo real, sincronizados con la rama judicial, recibe alertas y actualizaciones.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border-0">
          <div class="card-body">
            <div class="icon-container">
              <img src="https://img.icons8.com/ios-filled/100/6c757d/document.png" alt="Document Icon" class="feature-icon">
            </div>
            <h3 class="card-title fw-bold mt-3">Generación de Documentos</h3>
            <p class="card-text">Automatiza la creación de documentos legales rápidamente, generándolos en múltiples formatos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border-0">
          <div class="card-body">
            <div class="icon-container">
              <img src="https://img.icons8.com/ios-filled/100/6c757d/appointment-reminders.png" alt="Notification Icon" class="feature-icon">
            </div>
            <h3 class="card-title fw-bold mt-3">Notificaciones</h3>
            <p class="card-text">Recibe notificaciones automáticas sobre cambios y actualizaciones en tus casos legales, manteniéndote siempre informado.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
